footer {
    background-color: #f7eeee;
    color: black;
    padding: 40px 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.footer-container {
    max-width: 1200px;
    margin: auto;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.address{
   font-size: 14px; 
}

.footer-links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.column h4 {
    margin-bottom: 10px;
    color: #000;
}

.column ul {
    list-style: none;
    padding: 0;
    color: blue;
}

.column ul li a {
    color: #ccc;
    text-decoration: none;
    font-size: 14px;
    color: blue;
}

.column ul li a:hover {
    color: #fff;
}

.footer-bottom {
    text-align: center;
    font-size: 13px;
}

.legal-links a {
    color: black;
    margin: 0 10px;
    text-decoration: none;
}

.legal-links a:hover {
    color: orange;
}

.social-links img {
    width: 24px;
    margin: 0 5px;
}
